/* alignment */

.aligned {
  position: absolute;
}

.align-left {
  left: 0;
}

.align-right {
  right: 0;
}

.align-center {
  left: 50%;
  transform: translateX(-50%);
}

.align-top {
  top: 0;
}

.align-bottom {
  bottom: 0;
}

.align-middle {
  top: 50%;
  transform: translateY(-50%);

  &.align-center {
    transform: translate(-50%, -50%);
  }
}
