$placeholder-color: #b1b1bd;

.input {
  font-size: 14px;
  border: 1px solid #f0f0f0;
  background: #f6f6f8;
  height: 48px;
  border-radius: 4px;
  padding: 0 12px;

  &::placeholder {
    color: $placeholder-color;
  }

  &.fullWidth {
    width: 100%;
  }
}
