#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.presentation-box {
  background-color: $background-color;
  width: 400px;
  height: 400px;
  position: relative;
}
